*~
~*
*.swp
.DS_Store
*.pyc
.idea
*.bak
__pycache__
*/__pycache__
build
*/build
save_address
.ipynb*
.vscode
.venv*
diff*
Untitled.*
*.html
*/*.html
profiling/*.stats
profiling/*.txt
out*.txt
slurm*
FKC_experiment/slurm*
*_tmp.sh
gmon.out
borg*
*/borg*
libborg*
*/libborg*
pareto.py
*/pareto.py
MOEAFramework*
moeaframework*
